---
import './Header.scss';
import GitHub from '../../assets/icons/github.svg';
import Discord from '../../assets/icons/discord.svg';
import Modrinth from '../../assets/icons/modrinth.svg';
---

<header>
    <a href="/">
        <img id="logo" src="/img/logo_long.svg" alt="ZetaPlugins Logo" />
    </a>
    <div class="links">
        <a
            href="https://strassburger.org/discord"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src={Discord.src} alt="Discord logo" />
        </a>
        <a
            href="https://modrinth.com/organization/zetaplugins"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src={Modrinth.src} alt="Modrinth logo" />
        </a>
        <a
            href="https://github.com/ZetaPlugins"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src={GitHub.src} alt="GitHub logo" />
        </a>
    </div>
</header>
