---
import './HeroSection.scss';
---

<section class="hero">
    <img src="/img/logo.svg" />
    <div class="hero-content">
        <h1># Zeta Plugins</h1>
        <p>
            We are a group of developers who create plugins for Minecraft Paper.
        </p>
    </div>
</section>
