---
import './HeroSection.scss';
---

<section class="hero">
    <img src="/img/logo.svg" alt="ZetaPlugins logo" />
    <div class="hero-content">
        <h1># ZetaPlugins</h1>
        <p>We are a group of developers who create plugins for Minecraft.</p>
    </div>
</section>
