---
import './PrinciplesSection.scss';
import { Github, BadgeCheck, PencilRuler, Compass } from '@lucide/astro';
---

<section class="principles">
    <h2>## Our Principles</h2>
    <div class="list">
        <div class="principle">
            <h3>
                <Github />
                Open Source
            </h3>
            <p>
                We believe in the power of open-source software. By sharing our
                code, we empower others to learn, contribute, and innovate.
            </p>
        </div>
        <div class="principle">
            <h3>
                <BadgeCheck />
                Quality
            </h3>
            <p>
                Our plugins are built with the highest standards in mind. We
                prioritize performance, security, and user experience in every
                line of code.
            </p>
        </div>
        <div class="principle">
            <h3>
                <PencilRuler />
                Customizability
            </h3>
            <p>
                We understand that every server is unique. Our plugins are
                designed to be flexible and customizable, allowing server owners
                to tailor them to their specific needs.
            </p>
        </div>
    </div>
</section>
