---
import './PrinciplesSection.scss';
import { Github, BadgeCheck, PencilRuler, Compass } from '@lucide/astro';
---

<section class="principles">
    <h2>## Our Principles</h2>
    <div class="list">
        <div class="principle">
            <h3>
                <Github />
                Open Source
            </h3>
            <p>
                We believe in open-source software because it gives you the
                freedom to make it your own. Whether you want to add new
                features or adapt it for a specific use case, the code is open
                and ready for you to build on.
            </p>
        </div>
        <div class="principle">
            <h3>
                <BadgeCheck />
                Quality
            </h3>
            <p>
                We build our plugins with a strong focus on performance,
                security, and user experience. Every detail matters, and we're
                committed to making sure everything runs smoothly and reliably.
            </p>
        </div>
        <div class="principle">
            <h3>
                <PencilRuler />
                Customizability
            </h3>
            <p>
                We know every server is different, so our plugins are built to
                be flexible. You can easily adjust settings and features to fit
                your setup and make things work just the way you want.
            </p>
        </div>
    </div>
</section>
