---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout>
    <Header />
    <main>
        <h1>This is some sample content</h1>
        <p>
            This is a sample page to demonstrate the layout and structure of the
            Zeta Plugins website. You can add more content here as needed.
        </p>
    </main>
    <Footer />
</Layout>
