---
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
import Layout from '../layouts/Layout.astro';
import './impressum.scss';
---

<Layout title="Impressum - ZetaPlugins">
    <div class="content">
        <Header />
        <main>
            <h1 style={{ marginBottom: '15px' }}>Impressum</h1>

            <h2>Angaben gemäß § 5 TMG</h2>
            <p>
                Jan Straßburger<br />
                Bert-Brecht-Straße 11<br />
                66386 St.Ingbert
            </p>

            <h2>Kontakt</h2>
            <p>E-Mail: contact@zetaplugins.com</p>

            <h2 style={{ marginBottom: '15px' }}>Haftungsausschluss</h2>

            <h3>1. Hinweis zu Inhalten</h3>
            <p>
                Die frei zugänglichen und unentgeltlichen Inhalte dieser
                Webseite wurden mit größtmöglicher Sorgfalt erstellt. Der
                Anbieter dieser Webseite übernimmt jedoch keine Gewähr für die
                Richtigkeit und Aktualität der bereitgestellten kostenlosen und
                frei zugänglichen journalistischen Ratschläge und Nachrichten.
                Die Nutzung dieser Inhalte erfolgt auf eigene Gefahr des
                Nutzers. Allein durch den Aufruf dieser kostenlosen und frei
                zugänglichen Inhalte kommt keinerlei Vertragsverhältnis zwischen
                dem Nutzer und dem Anbieter zustande, insoweit fehlt es am
                Rechtsbindungswillen des Anbieters.
            </p>

            <h3>2. Verlinkungen</h3>
            <p>
                Diese Webseite enthält Verknüpfungen zu Webseiten Dritter
                („externe Links“). Diese Webseiten unterliegen der Haftung der
                jeweiligen Betreiber. Zum Zeitpunkt der erstmaligen Verknüpfung
                der externen Links waren keine Rechtsverstöße ersichtlich. Der
                Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige
                Gestaltung sowie auf die Inhalte der verknüpften Seiten. Eine
                permanente Kontrolle der externen Links ist für den Anbieter
                ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei
                Bekanntwerden von Rechtsverstößen werden derartige externe Links
                unverzüglich gelöscht.
            </p>

            <h3>3. Urheber- und Leistungsschutzrechte</h3>
            <p>
                Die auf dieser Webseite veröffentlichten Inhalte unterliegen dem
                deutschen Urheber- und Leistungsschutzrecht. Jede vom deutschen
                Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung
                bedarf der vorherigen schriftlichen Zustimmung des Anbieters
                oder jeweiligen Rechteinhabers. Dies gilt insbesondere für
                Vervielfältigung, Bearbeitung, Übersetzung, Speicherung,
                Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder
                anderen elektronischen Medien und Systemen. Inhalte und Rechte
                Dritter sind dabei als solche gekennzeichnet. Die unerlaubte
                Vervielfältigung oder Weitergabe einzelner Inhalte oder
                kompletter Seiten ist nicht gestattet und strafbar. Lediglich
                die Herstellung von Kopien und Downloads für den persönlichen,
                privaten und nicht kommerziellen Gebrauch ist erlaubt.
            </p>
            <p>
                Die Darstellung dieser Webseite in fremden Frames oder iFrames
                ist nur mit schriftlicher Erlaubnis zulässig.
            </p>

            <h3>4. Keine Werbung</h3>
            <p>
                Die Nutzung der Kontaktdaten des Impressums zur gewerblichen
                Werbung ist ausdrücklich nicht erwünscht, es sei denn, der
                Anbieter hatte zuvor seine schriftliche Einwilligung erteilt
                oder es besteht bereits eine Geschäftsbeziehung. Der Anbieter
                und alle auf dieser Webseite genannten Personen widersprechen
                hiermit jeder kommerziellen Verwendung und Weitergabe ihrer
                Daten.
            </p>

            <h3>5. Besondere Nutzungsbedingungen</h3>
            <p>
                Soweit besondere Bedingungen für einzelne Nutzungen dieser
                Webseite von den vorgenannten Nummern 1 bis 4 abweichen, wird an
                entsprechender Stelle ausdrücklich darauf hingewiesen. In diesem
                Fall gelten im jeweiligen Einzelfall die besonderen
                Nutzungsbedingungen.
            </p>
        </main>
        <Footer />
    </div>
</Layout>
