---
import './index.scss';
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import PrinciplesSection from '../components/sections/PrinciplesSection.astro';
import PluginsSection from '../components/sections/PluginsSection.astro';
import SupportSection from '../components/sections/SupportSection.astro';
---

<Layout
    title="Zeta Plugins - Hgih-quality, open-source Minecraft plugins"
    description="Zeta Plugins creates high-quality, open-source plugins for Minecraft Paper servers with customizability and performance in mind."
>
    <div class="content">
        <Header />
        <main>
            <HeroSection />
            <PrinciplesSection />
            <PluginsSection />
            <SupportSection />
        </main>
        <Footer />
    </div>
</Layout>
